body}{
    text-align: center;
}
#beginner{
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0px;
    opacity: 1;
    background:linear-gradient(#1ad8db 0%, #19e33b 100%)
    
}
#onediv{
    vertical-align: middle;
    text-align: center;
    display: table-cell;
    position: relative;
}